// TODO


.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white)
}

.main{
    // width: 100%;
    // max-width: 1000px;
    // margin-inline: auto;


    .imgBanner{
        width: 100%;
        max-height: 500px;
        margin-top: 4rem;
    }

    span, time{

        display: flex;
        align-items: center;
        gap: .2rem;
    }

    article{
        margin: 5rem 0 5rem 0;

        p{
            line-height: 2;
        }
    }

    header{
        margin-bottom: 2rem;

        h1{
            color: var(--white);
            font-weight: bold;
            font-size: 1.9rem;
            margin-bottom: 1rem;
        }

        .postInfo{
            display: flex;
            gap: 2.5rem;
            font-size: .93rem;

            svg{
                margin-right: .3rem;
            }
        }
    }


    .content{

        margin-top: 4rem;


        h2{
            margin-bottom: 1.5rem;
            color: var(--white)
        }


        .paragraphContent{
            
            & + .paragraphContent{
                margin-top: 4rem;
            }
        }
    }



    aside{
        display: flex;
        justify-content: space-between;
        margin-block: 3rem 6rem;

        div{
            span, a{
                display: block;
            }


            
        }

        div:last-child{
            align-items: flex-end;
            display: flex;
            flex-direction: column;

        }


        span{
            font-size: 1.3rem;
            color: var(--white)
        }

        a{
            color: var(--pink-300);
            font-size: 1.2rem;
            margin-top: .5rem;
            font-weight: 600;

            transition: filter .2s;


            &:hover{
                filter: brightness(.8);
            }
            
        }
    }


}

