// TODO
// TODO

.header{
    width: 100%;
    // background-color: gray;
    padding: 1rem;
    // height: 4rem;
    top: 0;
    position: fixed;

    div{
        max-width: 1000px;
        margin-inline: auto;
        // height: 4rem;
        background-color: rgb(0, 64, 255);
    }

    img{
        &:hover{
            cursor: pointer;
        }
    }

    
}
